.header__lang-link {
    font-size: 24px;
    line-height: 28px;
text-decoration-line: none;
color: #FFFFFF;
margin: 0;

}
@media screen and (max-width: 550px) {
    .header__lang-link {
        font-size: 18px;
    line-height: 20px;
    }
}