.places {
    max-width: 984px;
    padding: 92px 148px 0 148px;
}

@media screen and (max-width:1090px) {
    .places {
        max-width: 928px;
        padding: 92px 48px 0 48px;
    }
}

@media screen and (max-width:960px) {
    .places {
        max-width: 928px;
        padding: 88px 24px 0 24px;
    }
}

@media screen and (max-width:550px) {
    .places {
        max-width: 100%;
        padding: 64px 0px 0 0px;
    }
}