.intro__list {
    list-style-type: none;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    max-width: 690px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 960px) {
    .intro__list {
        max-width: 720px;
    }
}

@media screen and (max-width: 550px) {
    .intro__list {
        max-width: 288px;
    }
}