.header {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    width: calc(100% - 96px);
    padding-top: 28px;
    margin: 0 auto 56px;
    box-sizing: border-box;
}
    
@media screen and (max-width: 1090px) {
        .header {
            width: calc(100% - 96px);
            margin: 0 auto 48px;
        }
    }

@media screen and (max-width: 960px) {
    .header {
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 550px) {
    .header {
        padding-top: 16px;
        width: calc(100% - 32px);
    }
}

