.lead__title {
    color: #FFFFFF; 
    max-width: 720px;
    margin: 0 auto 32px;
    text-align: center;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
}

@media screen and (max-width: 960px) {
    .lead__title {
        font-size: 96px;
        line-height: 100px;
    max-width: 720px;
    }
    }
    
@media screen and (max-width: 550px) {
.lead__title {
    margin-bottom: 16px;
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
}
}
