.footer__copyright {font-weight: 400;
font-size: 14px;
line-height: 16px;
margin: 0;
color: #FFFFFF;
}

@media screen and (max-width: 550px) {
    .footer__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
    
    }
}