.lead__subtitle {
    max-width: 640px;
    margin: 0 auto 64px;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

@media screen and (max-width: 1090px) {
    .lead__subtitle {
        margin: 0 auto 56px;
    }
    }
    
@media screen and (max-width: 960px) {
        .lead__subtitle {
         max-width: 640px;
         font-size: 30px;
line-height: 36px;
        }
        }
 @media screen and (max-width: 550px) {
            .lead__subtitle {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                margin: 0 auto 40px;
        
            }
            }