.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    z-index: 1;
    max-width: 560px;
    margin: 0 0 32px 0;
}

@media screen and (max-width: 700px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
        margin: 0 0 16px 0;

    }
}